---
import BaseBody from '../layouts/Body.astro';
import BaseHead from '../layouts/Head.astro';
// Component Imports
import PodcastPlayer from '../components/PodcastPlayer.svelte';
import {getAllPodcasts} from '../lib/api.mjs';
import AboutPodcast from '../components/AboutPodcast.astro';
import PodcastHeader from '../components/PodcastHeader.astro';
import Description from '../components/Description.astro';


const title = "Allegro.tech podcast";


const {year} = Astro.request.params;

const yearToSeasonMap = {
  "2020": 1,
  "2021": 2,
  "2022": 3
}

const podcastsEnriched = getAllPodcasts().filter(item => item.season == yearToSeasonMap[year]);
export async function getStaticPaths() {
  return [
    { params: { year: '2020' } },
    { params: { year: '2021' } },
    { params: { year: '2022' } }
  ];
}

---
<!DOCTYPE html><html lang="en">
<head>
    <BaseHead/>
</head>
<BaseBody>
<div class="desk">
{podcastsEnriched.map( (podcast) => (
<section class="content">
    <div class="m-card" itemType="http://schema.org/PodcastEpisode">
      <PodcastHeader podcast={podcast}/>
      <div class="cover">
        <PodcastPlayer 
        audioSource = {podcast.audioSource} 
        podcastTitle = {podcast.podcastTitle}
        podcastPlatforms = {podcast.podcastPlatforms}
        podcastCover = {podcast.podcastCover}
        client:load/>
        <Description toc = {podcast.toc} />
      </div>
    </div>
</section>
))}
</div>
<AboutPodcast /> 
</BaseBody>
</html>