---
import { Markdown } from 'astro/components';
export interface Props {
  authorData: any;
}
const { authorData } = Astro.props;

const socialItem = () => {
    const socialDict = {
        "twitter": "https://twitter.com/",
        "github": "https://github.com/",
        "linkedin": "https://www.linkedin.com/in/",
    }

    return Object.keys(socialDict).map(service => {
            if (!!authorData[service]) {
        return `<a class="username" href="${socialDict[service]}${authorData[service]}">
                <span class="social"><img src="/img/social/${service}.svg" alt="${service}" /></span>
            </a>`
    } else {
        return '';
    }
    }).join('')
}
---

<div class="m-card">
    <img src={`/img/authors/${authorData.author}.jpg`} alt={authorData.name} class="avatar" />
    <h3> {authorData.name}  <Fragment set:html={socialItem()}/></h3>
    <p><Markdown content={authorData.bio} /></p>
</div>
