---
import {getAllPodcasts,  getPodcastBySlug} from '../../lib/api.mjs';
import PodcastPlayer from '../../components/PodcastPlayer.svelte';
import BaseHead from '../../layouts/HeadSingle.astro';

export async function getStaticPaths() {
    const podcastsEnriched = getAllPodcasts();
    return podcastsEnriched.map(item => {
        return {
            params : {slug: item.slug}
        }
    })
}
const {slug} = Astro.params;


const podcast =  getPodcastBySlug(slug);
let title =  podcast.title;
---
<!DOCTYPE html><html lang="en">
<head>
<BaseHead podcast = {podcast}/>
</head>
 <body>
        <PodcastPlayer 
        audioSource = {podcast.audioSource} 
        podcastTitle = {podcast.podcastTitle}
        podcastPlatforms = {podcast.podcastPlatforms}
        podcastCover = {podcast.podcastCover}
        podcastImage = {podcast.podcastImage}
        client:load/>  
 </body>
 </html>